.container {
    max-width: 900px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    width: 100%;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    text-align: left;
    padding: 10px;
}

.table th {
    background-color: #343a40;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.btn-secondary {
    background-color: #6c757d; /* Sets the background color */
    border-color: #6c757d; /* Sets the border color */
    color: white; /* Sets the text color */
    padding: 10px 20px; /* Adds padding around the text */
    border-radius: 5px; /* Rounds the corners */
    text-decoration: none; /* Removes the underline */
    display: inline-block; /* Makes sure it's treated as a button */
    font-size: 16px; /* Sets the font size */
}

.btn-secondary:hover {
    background-color: #5a6268; /* Changes the background color on hover */
    border-color: #545b62; /* Changes the border color on hover */
    text-decoration: none; /* Keeps no underline on hover */
}
